<!DOCTYPE html>
</body>
<html lang="en" class="bg-info">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJS app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-info">
    {{>header}}
    <main class="bg-white">
        <div class="container py-5 text-center">
            <h1>{{ title }}</h1>
            <p>Created by: {{ name }}</p>
        </div>
    </main>
    {{>footer}}
</body>

</html>